@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");

*{

    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 150px;
   
}

body {
    background-color: rgb(204, 222, 237);
    width: 100%;
    color: white;
}
.container{
    
    padding: 10px 0 30px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0 auto;
    background-color: aliceblue;
 
}


button {
    background-color: orange;
    border: 0px solid black;
    outline: none;
    width: 180px;
    height: 40px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.4s linear;

}

button:hover {
    background-color: #c79900;
    transition: all 0.4s linear;
}

.title { /*todos los titulos*/
    font-weight: 700;
    font-size: 32px;
}

.section{/*todo*/
    
    background-color:white;

}


.header-container {/*donde esta todo el header */
    
    position: sticky;
    top: 0%;
    z-index: 9999;
    background-color:rgb(138, 9, 9);
    margin: 0 auto;
    width: 100%;
    

}



.header{

    
    margin: 0 auto;
    max-width: 1300px;
    height: 100px;
    display: flex;
    justify-content: space-between;/*tira a los lados*/
    align-items: center;
    padding: 0px 80px 0px 50px;
    background-color: rgb(138, 9, 9);
    
    
}



.logo-conteiner{
    height: 100%;
    display: flex;
    align-items: center;
    
}

.logo-conteiner img{
    height: 100%;
    width: 100%;
}

.busqueda-sesion-compra{
    
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    
}
.botones-header{
    display: flex;
    gap: 30px;
}
/**********************************/

#login-button{
    display: none;
}


.login-button{/*contenido*/
    padding: 10px 25px;
    
    cursor: pointer;
}

.login-contenedor{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    
    background-color:rgba(0, 0, 0, 0.4);

} 


.login{ 
    
    color: black;
    max-width: 500px;
    padding: 0 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:15px;
    background-color:white;
    width: 50%;
    height: 60%;
    border-radius: 20px;

}

.elem{
    width: 100%;
}
.elem:nth-child(3){
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

.input{
    
    height: 40px;
    width: 100%;
}
.elem:nth-child(4){
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.opciones{
    cursor: pointer;
    border: 1px solid gray;
    padding: 4px 0 ;
}
.opciones:nth-child(1){
    color: white;
    background-color: #fd611a;
}
.opciones:nth-child(2){
    color: #fd611a;
}

.cerrar{
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
   

}
.cerrar{
    width: 20px;
    height: 20px;
    text-align: center;
    z-index: 3;

}

.cerrar i{
    width: 100%;
    height: 100%;
}/***************************************/
#continuar{
    display: none;
}
.registro-contenedor{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-color: aqua;
}
.registro{
   padding: 0px 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(169, 22, 22);
    gap: 20px;
    color: white;
    border: 2px solid white;

}
.datos{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 30px;

}
.datos-telf:nth-child(1){
    width: 30%;
}.datos-telf:nth-child(2){
    width: 70%;
}
.datos-contra:nth-child(1){
    width: 50%;
}.datos-contra:nth-child(2){
    width: 50%;
}

.registro-boton{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    background-color:rgba(143, 141, 141, 0.988);
    height: 40px;
    color: white;
}



/***************************/
.busqueda input{
    width:400px;
    height: 40px;
}

.compra{
    width: 40px;
}
.compra i{
    font-size: 20px;
}




#login-button:checked ~ .login-contenedor{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background:violet;
    
    height: 90vh;
    
    width: 800px;
    height: 800px;
    top: 0;
    left: 0; */
}
/*************************************/
.login-button:active{
    background-color: white;
    color: black;
}





#continuar:checked ~ .registro-contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    

}











/********************************************************/


.navbar{
    background-color:#fd611a;  
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* padding: 70px 0px; */
    
 
}

.navbar i {/*icono de menu hamburguesa*/
    
    font-size: 40px;
    color: white;
    cursor: pointer;
    display: none;
  }
  
  #toggle-menu {/*es el checkbox*/
    display: none;
  }
  

.navbar-list{
    background-color:#fd611a;
    width: 95%;
    max-width: 1300px;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    
}
.navbar-list li{

    border-radius: 12px;
}
.navbar-list li a{
    color: black;
    font-size: 1.2rem;
    font-weight: 500;

}

.anuncio{
    
    background-color: black;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    
}
.anuncio a{
    color: white;
    font-size: 2rem;
    font-weight: 600;
}

.imagenes-productos{
    display: flex;
    align-items: center;
    justify-content: center;   
    background-color:black;
    width:100%;
    height: 450px;
    position: relative;
}
.imagenes-productos > div{
    border: 2px solid black;
    position: absolute;
    width: 100%;
    height: 100%;
}


.img a img {
    
    width: 100%;
    /* width: 600px; */
    height: 100%;
   
}

.img:nth-child(1)  {
    opacity: 0;
    animation: animation2 4s 1s infinite backwards linear;
    

}
.img:nth-child(2){
    
    opacity: 0;
    animation: animation2 4s  3s infinite linear;
}
.img:nth-child(3){
    
    opacity: 0;
    animation: animation2 4s 2s infinite  linear;
    
}

/************************/

.section-conteiner2{
    width: 100%;
    background-color: white;
}
.imagenes-marcas{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;   
    background-color: white;
    width:700px;
    height: 120px;
    position: relative;
    gap: 30px;
    
}


.img2 a img {

    padding: 0;
    width: 150px;
    
    height: 80px;
    
}

.imagenes-marcas{
    animation:animation 5s 1s infinite cubic-bezier(.13,.80,.73,.12) ;
    
}
/*************************/

/*footer*/
.footer{
    background-color:#fd611a;
    display: grid;
    
    grid-template-columns:1fr 1fr 1fr ;
    
    

}

.elemento{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right:2px solid white;
}

.elemento:nth-child(1){
    display: flex;
    gap: 10px;
}
.elemento:nth-child(2){
    display: flex;
    gap: 20px;
    
}
.elemento:nth-child(3){
    display: flex;
    gap: 20px;
    
}
.boton-arrepentimiento{
    text-decoration: underline;
}

.footer{
    width: 100%;
}
.footer-social i{
    height:30px ;
    width:30px ;

    padding: 6px;
    background-color: black;
    
    border: 1px solid black;
    border-radius: 100%;
}
/*****************************************/


@keyframes animation{
    0%{
        
        
        opacity: 1;
        left: -700px;
        
        
        
    }
    100%{
        opacity: 1;
        z-index: 99;
        left: calc(100% );
        
        
    }
}

@keyframes animation2{
    0%{
        transform: scale(600px,300px);
        opacity: 1;
    }
    100%{
        transform: scalex(600px);
        transform: scaley(300px);
        opacity: 1;
        z-index: 99;
       
    }

}

@keyframes animation3{
    0%{
        left:0%;
    }
    100%{
        left: calc(100% - 320px);
    }



}


/*************/
@media (max-width: 574px){

    .container{
        padding: 2px 0 12px 0;
        gap: 4px;
    }
    .header-container{
        position:relative;
    }
    .navbar {
        width: 100%;
        height: 40px;
        position: relative;      
        display: flex;
        align-items: center;
        justify-content: center;
    } 
    .navbar > label{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
    } 
    
    .navbar i {/*para mostras el menu hamburguesa*/
        position: absolute;
        display: block;
        font-size: 1.3rem;
        font-weight: 800;
        z-index: 999;
        top: 10px;
        left: 20px;
    }



    .header{

        height: 300px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content:flex-start;
        align-items: center;
        padding: 0;
        
        gap: 20px;
    }
   
    .logo-conteiner{
        margin: 0;
        height: 150px;
        width: 150px;   
    }

    .busqueda-sesion-compra{

        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
        padding: 0 10px;
        
        
    }
    .busqueda{
        width: 100%;
    }
    .busqueda > input{
        width: 100%;
        height: 3.4rem;
        border-radius: 10px;
        
    }

    .botones-header{

        display: flex;
        align-items: center;
        height: 50px;
        gap: 15px;
    }
    .botones-header > button{
        border-radius: 10px;
    }
    /**********************/
    
    .login-contenedor{
        
        min-height:800px ;
        margin: 0;
        
    }
    .login{ 
        
        
        
        width: 90%;
    }



    /**************************************/







    /********************************/
    .navbar-list {
        position: absolute;
        
        flex-direction: column;
        
        align-items: flex-start;
        top:35px;          
        width: 100%;
        height: 140px;
        display: none;
        z-index: 999;
        opacity: 1;
        gap: 5px;
    }
    .navbar-list >li{
        
        padding-left:40px;
    }
    .navbar-list >li a {
        font-size: 1rem;
        font-weight: 700;
        color: white;
        
    }

    #toggle-menu:checked + .navbar-list {
        display: flex;

    }
    .anuncio{
        text-align: center;
    }

/*section-conteiner1 imagenes-productos*/

    .section-conteiner1 {
        padding-top: 1px;
        height: 300px;
    }
    .imagenes-productos{
        height: 100%;  
    }
/*************************/
    .section-conteiner2{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 130px;
        
        position: relative;
  
    }
    .imagenes-marcas{
        position:absolute;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 320px;
        height: 80px;
        animation:animation3 3s 1s infinite alternate linear; 
    }
    


    .img2 a img{
        
        width: 70px;
        height: 35px;
    }
 
    .footer{
        background-color:#fd611a;;
        display: grid;
        grid-template-columns:1fr 1fr ;
        grid-row: 1fr 1fr;
    }
    .ayuda{
        grid-row: 1/3;
       
        text-align: center;
    }
    .contacto{
        padding: 10px;
        border-bottom: 2px solid white;
    }
    .redes{
        text-align: center;
        padding: 10px;
    }
}